# Lab Session

## <font color='blue'> Table Of Contents </font>
- Problem Statement 
- Load required libraries
- Connect to DB using mysql-connector-python package
- Create database named `e_commerce`
- Create tables and insert data into tables as specified in the question
- Read all the questions and write sql queries to meet the objective

## <font color='blue'> Problem Statement </font>
###  An E-commerce website manages its data in the form of various tables.
You need to create a Database called `e_commerce` and various tables in it. The tables needed and attributes which need to be in every table are given before hand. All you have to do is create tables with data in it and answer some of the questions that follows.

### Load Required Libraries

In [ ]:
import mysql.connector as mysql
import pandas as pd

<class 'ModuleNotFoundError'>: No module named 'mysql'

### Connect to DB using Mysql-connector-python package

In [ ]:
connection = mysql.connect(host="localhost", user="root", password="root")
cursor = connection.cursor()

<class 'NameError'>: name 'mysql' is not defined

### You are required to create a database named 'e_commerce'

In [ ]:
cursor.execute("create database e_comm")
cursor.execute("use e_comm")

<class 'NameError'>: name 'cursor' is not defined

### Q1. Create tables for supplier, customer, category, product, productDetails, order, rating to store the data for the E-commerce with the schema definition given below.


- **`supplier`**(SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10))


- **`customer`** (CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID))


- **`category`** (CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID))


- **`product`** (PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID))


- **`product_details`** (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL,
  PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID))
  
  
- **`order`** (ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID))


- **`rating`** (RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID))

In [ ]:
table_created = """create table Supplier(SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50),
                   SUPP_PHONE varchar(10));
                   
                   create table Customer(CUS_ID int primary key, CUS_NAME VARCHAR(20) NULL DEFAULT NULL,
                   CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR);
                   
                   create table Category(CAT_ID int primary key, CAT_NAME VARCHAR(20) NULL DEFAULT NULL);
                   
                   create table Product(PRO_ID int primary key, PRO_NAME VARCHAR(20) NULL DEFAULT NULL,
                   PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL, 
                   FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID));
                   
                   create table Product_details(PROD_ID INT NOT NULL, PRO_ID INT NOT NULL,
                   SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL, PRIMARY KEY (PROD_ID),
                   FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID));
                   
                   create table Orders(ord_id int primary key, ord_amount int not null, ord_date date, cus_id int not null,
                   prod_id int not null, foreign key(cus_id) references customer(cus_id), foreign key(prod_id) references
                   product_details(prod_id));
                   
                   create table Ratings(RAT_ID int primary key, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL,
                   RAT_RATSTARS INT NOT NULL, FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),
                   FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID));"""
cursor.execute(table_created)

<class 'NameError'>: name 'cursor' is not defined

### Q2. Insert the following data in the table created above
#### `Note:` If you are getting any error while inserting the data into tables, Kindly close the connection and reconnect

#### Table:  supplier
| SUPP_ID | SUPP_NAME | SUPP_CITY | SUPP_PHONE |
| --- | --- | --- | --- | 
| 1 | Rajesh Retails | Delhi | 1234567890 |
| 2 | Appario Ltd. | Mumbai | 258963147032 | 
| 3 | Knome products | Bangalore | 9785462315 |
| 4 | Bansal Retails | Kochi | 8975463285 |
| 5 | Mittal Ltd. | Lucknow | 7898456532 |

In [ ]:
# insert into "supplier" table
insert_supp_details = """insert into supplier values(%s, %s, %s, %s)"""

val = [(1, 'Rajesh Retails', 'Delhi', 1234567890), (2, 'Appario Ltd.', 'Mumbai', 2589631470),
       (3, 'Knome products', 'Bangalore', 9785462315), (4, 'Bansal Retails', 'Kochi', 8975463285),
       (5, 'Mittal Ltd.', 'Lucknow', 7898456532)]
cursor.executemany(insert_supp_details, val)
connection.commit()

<class 'NameError'>: name 'cursor' is not defined

#### Table:  customer
| CUS_ID | CUS_NAME | SUPP_PHONE | CUS_CITY | CUS_GENDER
| --- | --- | --- | --- | --- |
| 1 | AAKASH | 9999999999 | DELHI | M |
| 2 | AMAN | 9785463215 | NOIDA | M |
| 3 | NEHA | 9999999998 | MUMBAI | F |
| 4 | MEGHA | 9994562399 | KOLKATA | F |
| 5 | PULKIT | 7895999999 | LUCKNOW | M |

In [ ]:
# insert into "customer" table
insert_cust_details = """insert into customer values(%s, %s, %s, %s, %s)"""

val = [(1, 'AAKASH', 9999999999, 'DELHI', 'M'), (2, 'AMAN', 9785463215, 'NOIDA', 'M'), (3, 'NEHA', 9999999998, 'MUMBAI', 'F'),
       (4, 'MEGHA', 9994562399, 'KOLKATA', 'F'), (5, 'PULKIT', 7895999999, 'LUCKNOW', 'M')]

cursor.executemany(insert_cust_details, val)
connection.commit()

<class 'NameError'>: name 'cursor' is not defined

#### Table:  category
| CAT_ID | CAT_NAME | 
| --- | --- |  
| 1 | BOOKS |
| 2 | GAMES |  
| 3 | GROCERIES | 
| 4 | ELECTRONICS | 
| 5 | CLOTHES |

In [ ]:
# insert into "categoty" table
insert_cat_details = """insert into category values(%s, %s)"""

val = [(1, 'BOOKS'), (2, 'GAMES'), (3, 'GROCERIES'), (4, 'ELECTRONICS'), (5, 'CLOTHES')]

cursor.executemany(insert_cat_details, val)
connection.commit()

<class 'NameError'>: name 'cursor' is not defined

#### Table:  product
| PRO_ID | PRO_NAME | PRO_DESC | CAT_ID |
| --- | --- | --- | --- | 
| 1 | GTA V | DFJDJFDJFDJFDJFJF | 2 |
| 2 | TSHIRT | DFDFJDFJDKFD | 5 | 
| 3 | ROG LAPTOP | DFNTTNTNTERND | 4 |
| 4 | OATS | REURENTBTOTH | 3 |
| 5 | HARRY POTTER | NBEMCTHTJTH | 1 |

In [ ]:
# insert into "product" table
insert_prod = """insert into product values(%s, %s, %s, %s)"""

val = [(1, 'GTA V', 'DFJDJFDJFDJFDJFJF', 2), (2, 'TSHIRT', 'DFDFJDFJDKFD', 5), (3, 'ROG LAPTOP', 'DFNTTNTNTERND', 4),
       (4, 'OATS', 'REURENTBTOTH', 3), (5, 'HARRY POTTER', 'NBEMCTHTJTH', 1)]

cursor.executemany(insert_prod, val)
connection.commit()

<class 'NameError'>: name 'cursor' is not defined

#### Table:  product_details
| PROD_ID | PRO_ID | SUPP_ID | PROD_PRICE |
| --- | --- | --- | --- | 
| 1 | 1 | 2 | 1500 |
| 2 | 3 | 5 | 30000 | 
| 3 | 5 | 1 | 3000 |
| 4 | 2 | 3 | 2500 |
| 5 | 4 | 1 | 1000 |

In [ ]:
# insert into "product_details" table
insert_prod_details = """insert into product_details values(%s, %s, %s, %s)"""

val = [(1, 1, 2, 1500), (2, 3, 5, 30000), (3, 5, 1, 3000), (4, 2, 3, 2500), (5, 4, 1, 1000)]

cursor.executemany(insert_prod_details, val)
connection.commit()

<class 'NameError'>: name 'cursor' is not defined

#### Table:  orders
| ORD_ID | ORD_AMOUNT | ORD_DATE | CUS_ID | PROD_ID
| --- | --- | --- | --- | --- |
| 20 | 1500 | 2021-10-12 | 3 | 5 |
| 25 | 30500 | 2021-09-16 | 5 | 2 |
| 26 | 2000 | 2021-10-05 | 1 | 1 |
| 30 | 3500 | 2021-08-16 | 4 | 3 |
| 50 | 2000 | 2021-10-06 | 2 | 1 |

In [ ]:
# insert into "orders" table
insert_order_details = """insert into orders values(%s, %s, %s, %s, %s);"""

val = [(20, 1500, '2021-10-12', 3, 5), (25, 30500, '2021-9-16', 5, 2), (26, 2000, '2021-10-5', 1, 1),
       (30, 3500, '2021-8-16', 4, 3), (50, 2000, '2021-10-6', 2, 1)]

cursor.executemany(insert_order_details, val)
connection.commit()

<class 'NameError'>: name 'cursor' is not defined

#### Table: rating
| RAT_ID | CUS_ID | SUPP_ID | RAT_RATSTARS |
| --- | --- | --- | --- | 
| 1 | 2 | 2 | 4 |
| 2 | 3 | 4 | 3 | 
| 3 | 5 | 1 | 5 |
| 4 | 1 | 3 | 2 |
| 5 | 4 | 5 | 4 |

In [ ]:
# insert into "rating" table
insert_ratings_details = """insert into ratings values(%s, %s, %s, %s)"""

val = [(1, 2, 2, 4), (2, 3, 4, 3), (3, 5, 1, 5), (4, 1, 3, 2), (5, 4, 5, 4)]

cursor.executemany(insert_ratings_details, val)
connection.commit()

<class 'NameError'>: name 'cursor' is not defined

### Q3) Display the number of the customer group by their genders who have placed any order of amount greater than or equal to Rs.3000.

In [ ]:
qst1 = """select customer.cus_gender,count(customer.cus_gender) as count 
            from customer inner join `orders` on customer.cus_id=`orders`.cus_id 
            where `orders`.ord_amount>=3000 group by customer.cus_gender;"""
cursor.execute(qst1)
output = cursor.fetchall()
output_df = pd.DataFrame(output, columns=['Gender', 'Count'])
output_df

<class 'NameError'>: name 'cursor' is not defined

### Q4) Display all the order along with product name ordered by a customer having Customer_Id=2;

In [ ]:
qst2 = """select * from product where pro_id = (select product_details.pro_id from product_details inner join orders on
        orders.prod_id = product_details.prod_id where orders.cus_id = 2); """
cursor.execute(qst2)
output = cursor.fetchall()
output_df = pd.DataFrame(output, columns=['Pro_Id', 'Pro_Name', 'Pro_Desc', 'Cat_Id'])
output_df

<class 'NameError'>: name 'cursor' is not defined

### Q5) Display the Supplier details who can supply more than one product.

In [ ]:
qst3 = """select supplier.* from supplier inner join product_details on product_details.supp_id = supplier.supp_id group by 
          product_details.supp_id having count(product_details.supp_id)>1;"""
cursor.execute(qst3)
output = cursor.fetchall()
output_df = pd.DataFrame(output, columns=['Supp_id', 'Supp_Name', 'Supp_City', 'Supp_Phone'])
output_df

<class 'NameError'>: name 'cursor' is not defined

### Q6) Find the category of the product whose order amount is minimum.

In [ ]:
qst4 = """select category.* from category where cat_id = (select product.cat_id from orders inner join product on orders.prod_id = product.pro_id 
where orders.ord_amount = (select min(ord_amount) from orders));"""

cursor.execute(qst4)
output = cursor.fetchall()
output_df = pd.DataFrame(output, columns=["Cat_id", 'Cat_Name'])
output_df

<class 'NameError'>: name 'cursor' is not defined

### Q7) Display the Id and Name of the Product ordered after “2021-10-05”.

In [ ]:
qst5 = """select pro_id, pro_name from product where pro_id in (select product_details.pro_id from orders inner join
          product_details on orders.prod_id = product_details.prod_id where orders.ord_date > '2021-10-05');"""
cursor.execute(qst5)
output = cursor.fetchall()
output_df = pd.DataFrame(output, columns = ['Pro_id', 'Pro_Name'])
output_df

<class 'NameError'>: name 'cursor' is not defined

### Q8) Print the top 3 supplier name and id and rating on the basis of their rating along with the customer name who has given the rating.

In [ ]:
qst6 = """select supplier.supp_id, supplier.supp_name, customer.cus_name, ratings.rat_ratstars from ((ratings
          inner join supplier on ratings.supp_id = supplier.supp_id) inner join customer on 
          ratings.cus_id = customer.cus_id ) order by rat_ratstars desc limit 3;"""
cursor.execute(qst6)
output = cursor.fetchall()
output_df = pd.DataFrame(output, columns=['Supp_Id', 'Supp_Name', 'Cus_Name', 'Ratings'])
output_df

<class 'NameError'>: name 'cursor' is not defined

### Q9) Display customer name and gender whose names start or end with character 'A'.

In [ ]:
qst7 = """select cus_name, cus_gender from customer where cus_name like 'A%' or cus_name like '%A';"""
cursor.execute(qst7)
output = cursor.fetchall()
output_df = pd.DataFrame(output, columns=['Cus_Name', 'Cus_Gender'])
output_df

<class 'NameError'>: name 'cursor' is not defined

### Q10) Display the total order amount of the male customers.

In [ ]:
qst8 = """select sum(orders.ord_amount) as Total_Amount from orders where cus_id in
          (select cus_id from customer where CUS_GENDER = 'm');"""
cursor.execute(qst8)
output = cursor.fetchall()
output_df = pd.DataFrame(output, columns=['Total_Amount'])
output_df

<class 'NameError'>: name 'cursor' is not defined

### Q11) Display all the Customers left outer join with  the orders

In [ ]:
qst9 = """select customer.*, orders.ord_id, orders.ord_amount, orders.ord_date, orders.prod_id
          from customer left outer join orders on customer.cus_id = orders.cus_id;"""
cursor.execute(qst9)
output = cursor.fetchall()
output_df = pd.DataFrame(output, columns=['Cus_Id', 'Cus_Name', 'Cus_Phone', 'Cus_City', 'Cus_Gender', 'Ord_Id',
                                          'Ord_Amount', 'Ord_Date', 'Prod_id' ])
output_df

connection.close()

<class 'NameError'>: name 'cursor' is not defined

**NOTE:** Always close an open connection once you are done with the database operations

## Happy Learning:)